---
layout: default
title: Home
date: Index
---

<div class="container">

  {% for rpost in paginator.posts %}
	<article class="post fn-clear">
        <h2 class="post-title"><a href="{{ site.url }}{{ rpost.url }}" title="{{ rpost.title }}" rel="bookmark">{{ rpost.title }}</a></h2>
        <p class="time"><time pubdate="{{ rpost.date }}">{{ rpost.date | date_to_string }}</time></p>
        {% if site.indexContent == true %}
        {{ rpost.content | truncatewords:5 }}
        {% else %}
        <p>{{ rpost.description }}</p>
        {% endif %}
    </article>
{% endfor %}
{% if paginator.total_pages > 1 %}
    <nav id="pagination" class="fn-clear">
        <ul class="pagination">
            {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                    <li class="current"><a href="javascript:void(0);">{{ page }}</a></li>
                {% else %}
                    <li><a href="{{ site.url }}/{%if page > 1 %}page{{ page }}/{% endif %}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endif %}

<hr>

<article class="post">
    {% capture post_year1 %}{{ 'now' | date: '%Y' }}{% endcapture %}
            <h3>{{ post_year1 }}</h3>
            <ul>
            {% for post in site.posts %}
                        {% capture post_year2 %}{{ post.date | date: '%Y' }}{% endcapture %}
                        {% if post_year1 != post_year2 %}
                            {% assign post_year1 = post_year2 %}
                            </ul>
                            <h3>{{ post_year1 }}</h3>
                            <ul>
                            {% endif %}
                            <li><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
            {% endfor %}
            </ul>
</article>


<hr>
　　<h2>{{ page.title }}</h2>
　　<p>恷仟猟嫗</p>
　　<ul>
　　　　{% for post in site.posts %}
　　　　　　<li>{{ post.date | date_to_string }} <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
　　　　{% endfor %}
　　</ul>
</div>
