<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/introjs.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/odometer-theme-train-station.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
	    <h1>
	      Snake AI
	    </h1>
	    <p class="lead">
	      A sandbox for testing AI code of snake game
	    </p>
	    <p>
	      <a class="btn btn-lg btn-success" href="{{ site.baseurl }}/intro/" role="button">
	        Learn more
	      </a>
	    </p>
          </div>
          <div class="col-sm-4">
            <img src="{{ site.baseurl }}/img/huaweilogo.png" class="img-responsive" style="height: 233px;">
          </div>
        </div>
        <ul class="nav nav-tabs">
          <li><a href="{{ site.baseurl }}/home/">Home</a></li>
          <li><a href="{{ site.baseurl }}/intro/">Intro</a></li>
          <li><a href="{{ site.baseurl }}/intro/rule/">Rules</a></li>
          <li><a href="{{ site.baseurl }}/game/">Sandbox</a></li>
          <li><a href="{{ site.baseurl }}/intro/api/">APIs</a></li>
          <li><a href="{{ site.baseurl }}/intro/demo/">Demo</a></li>
          <li><a href="{{ site.baseurl }}/LICENSE">License</a></li>
        </ul>
      </div>
    </div>

{{ content }}
    
    <script src="{{ site.baseurl }}/js/jquery-2.0.3.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49936449-1', 'simonmysun.github.io');
      ga('send', 'pageview');
      
    </script>
  </body>
</html>
